html,
body{
  font-size: 16px;
  font-family: 'Hind', sans-serif;
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v8/5aU69_a8oxmIdGl4BA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v8/5aU19_a8oxmIfNJdERySjQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h2 {
  font-size: 3.8rem;
  font-weight: bold;
}

/*  Header Section  */

header {
  position fixed;
}

header .container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  font-size: 2rem;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 1.5rem;
}

.logo img {
  height: 3.6rem;
}

.academy {
  color: gray;
  font-weight: normal;
}

nav a {
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

ul .space {
  background-color: darkturquoise;
  width: 1rem;
  height: 4rem;
}

/*  Banner Section  */

.banner {
  display: flex;
  background-color: lightgray;
  padding: 3.5rem 3rem;
}

.image-banner {
  width: 60%;
}

img {
  width: 100%;
}

.banner-content {
  width: 34.5rem;
  padding-left: 5rem;
  line-height: 1.25;
  margin: auto 0;
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.banner h3 {
  font-size: 2.3rem;
}

.button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem;
  text-align: center;
  margin-top: 4rem;
}

/*  Information Section  */

.information {
  display: flex;
  background-color: #F2F2F2;
}

.main-info {
  width: 60%;
  padding: 3.5rem 3rem;
}

.main-info img {
  width: 100%;
}

.main-info h2 {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

p {
  font-size: 1.92rem;
  line-height: 1.4;
}

.emanuel {
  font-size: 1.4rem;
  margin-top: 3rem;
}

.about {
  display: flex;
  padding: 2rem;
}

.about-info {
  border-left: solid 1px lightgray;
  padding-top: 1.5rem;
  width: 40%;
}

.about-img {
  width: 35%;
}

.about-content {
  width: 60%;
  padding-left: 2rem;
  margin: auto 0;
}

.orientation {
  border-bottom: solid 1px lightgray;
  margin-bottom: 2px;
}

.campus {
  border-top: solid 1px lightgray;
  margin-top: 2px;
}

.guest {
  background-color: lightgray;
}

.about h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.about a {
  font-size: 1.6rem;
  text-decoration: none;
  color: cornflowerblue;
}

/*  Course  Section  */

.learning {
  background-color: gainsboro;
}

.learning h2 {
  padding-top: 2rem;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
}

.course {
  max-width: 33.25rem;
  margin: 1rem;
  background-color: white;
}

.learning-content {
  margin: 2rem;
  height: 14.5rem;
}

.list {
  margin: 1rem 0;
}

.course h3 {
  font-size: 2.3rem;
  font-weight: bold;
}

/*  Thesis Exhibit Section  */

.thesis {
  background-color: #F2F2F2;
  border-bottom: solid 1px lightgray;
}

.thesis-info {
  display: flex;
}

.video {
  width: 60%;
  padding: 2rem 1.5rem;
}

.thesis h2 {
  padding-top: 2rem;
  text-align: center;
}

.thesis h3 {
  font-size: 2.3rem;
  font-weight: bold;
}

.study {
  width: 40%;
  padding-top: 2rem;
}

.design {
  background-color: lightgray;
}

.news {
  display: flex;
  padding: 2rem 2rem;
}

/* Footor  */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  height: 5rem;
  padding: 1.5rem 1rem 0 1.5rem;
}

footer a {
  font-size: 1.86rem;
  text-decoration: none;
  padding: .5rem;
}
